<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" />
  </head>
  <body>
    <div class="auth-card">
      <h1 class="title">Create Account</h1>

      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="form-group">
            {{ field.label }}
            {# Adding a CSS class to the input field #}
            {{ field(class='form-control') }}

            {% if field.errors %}
              {% for error in field.errors %}
                <small style="color: #dc2626">{{ error }}</small>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </form>

      <div class="auth-footer">
        <span>Already have an account?</span>
        <a href="{{ url_for('login') }}">Log In</a>
      </div>
    </div>
  </body>
</html>
